body {
	background-size: cover;
	background-image: url("imgs/background.jpg");
}
@keyframes hover{
	0% {transform: translateY(0)}
	50% {transform: translateY(4px)}
	100% {transform: translateY(0px)}
}

#player {
	width: 106px;
	height: 96px;
	background-image: url("imgs/ghost.png");
	background-size: cover;
	position: absolute;
	bottom: 118px;
	animation-name: hover;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}